html body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	color: #444;
}

a {
	text-decoration: none;
	color: #bbb;
}

a:visited {
	color: #bbb;
}

body {
	background-color: #ebebeb;
	font-size: 14px;
	font-family: "Arial";
}

.header {
	position: fixed;
	top: 0px;
	left: 0px;
	height: 38px;
	width: 100%;
	background-color: #424242;
	opacity: 0.8;
}

.header a {
	display: inline-block;
	font-color: white;
	font-size: 14px;
	text-align: center;
	max-height: 100%;
	padding: 8.5px 12px;
	margin-right: 4px;
	text-decoration: none;
}

.header a:visited {
	color: white;
}

.header a:hover {
	background-color: #fffb47;
	color: black;
}

.errorMessages {
	font-color: red;
}

.main-contents {
	margin-top: 52px;;
	margin-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
	background-color: white;
	height: 100%;
	width: 90%;
	max-width: 720px;
}

.user {
	display: block;
	padding: 5px;
}

.copyright {
	font-size: 12px;
	background-color: #cccccc;
	width: 100%;
	text-align: center;
}

.copyright img {

}

.button {
	height: 100%;
	display: inline-block;
	border-radius: 5%; /* 角丸       */
	font-size: 14px; /* 文字サイズ */
	text-align: center; /* 文字位置   */
	cursor: pointer; /* カーソル   */
	padding: 6px 16px; /* 余白       */
	background: #111111; /* 背景色     */
	color: #eeeeee; /* 文字色     */
	line-height: 1em; /* 1行の高さ  */
	transition: .2s; /* なめらか変化 */
	border: 2px solid #111111; /* 枠の指定 */
}

.button:hover {
	color: #111111;
	background: #f8f44f;
}

.deleteButton {
	display: inline-block;
	border-radius: 5%; /* 角丸       */
	font-size: 12px; /* 文字サイズ */
	text-align: center; /* 文字位置   */
	border: solid 1px;
	padding: 4px 14px; /* 余白       */
	color: #111111;
	background: #b8b8b8;
	line-height: 1em; /* 1行の高さ  */
	transition: .2s; /* なめらか変化 */
}

.deleteButton:hover {
	background: #eb0003; /* 背景色     */
	color: #eeeeee; /* 文字色     */
}

.errorMessages {
	color: #fc2621;
	text-decoration: none;
	font-size: 18px;
}

errorMessages ul {
	list-style: none;
}

.errorMessages li {
	color: #fc2621;
	font-size: 18px;
}

.loginForm form {
	border: 0;
	padding: 10px;
	font-size: 1.3em;
	font-family: Arial, sans-serif;
	color: #aaa;
	margin: 0 0 20px;
	width: 90%;
	margin: 0 0 20px;
}

.loginForm input {
	margin-bottom: 8px;
	border: solid 1px #ccc;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.loginForm input:focus {
	border: 2px solid #f5fc03;
	outline: 0;
}

