table tr td {
	position: relative;
}

.errorMessages {
	font-color: red;
}

pre {
	display: inline;
}

samp {
	font-family: "Arial";
}

.todoForm #todoForm {
	background-color: #eab05f3b;
	padding: 10px 30px;
}

.todoForm #todoForm dl dt {
	width: 165px;
	padding: 10px 0;
	float: left;
	clear: both;
}

.todoForm #todoForm dl dd {
	padding: 10px 0;
}

.todoForm dd input, select {
	height: 24px;
	font-size: 14px;
}

.todoForm dd #title {
	width: 65%;
	max-width: 420px;
}

.todoForm #todoForm textarea {
	max-width: 420px;
	width: 65%;
	height: 4em;;
}

textarea, input, select {
	font-family: "Arial";
}

.editForm dl dt {
	width: 100px;
	float: left;
	padding: 2px 0px;
	clear: both;
}

.editForm dl dd {
	padding: 2px;
}

.editForm dl dd #title, #detail {
	width: 80%;
	max-width: 420px;
}

.editForm dl dd #detail {
	height: 4em;
}

input:focus {
	border: 2px solid #c87019;
	outline: 0;
}

textarea:focus {
	border: 2px solid #c87019;
	outline: 0;
}

select:focus {
	vorder: 2px solid;
}

.error-message-list {
	color: red;
}

html body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	color: #444;
	background: #e8e3b9;
}

.wrapper {
	margin-top: 16px;;
	margin-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
	background-color: #fdfae3;
	height: 100%;
	width: 90%;
	max-width: 780px;
}

.showDetail {
	width: 400px;
	height: auto;
	z-index: 3;
	display: none;
	position: absolute;
	padding: 16px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	background: #ad8e4a;
	color: #fff;
}

.showDetail:after {
	position: absolute;
	bottom: 100%;
	left: 5%;
	width: 0;
	height: 0;
	margin-left: -10px;
	border: solid transparent;
	border-color: rgba(51, 51, 51, 0);
	border-bottom-color: #ad8e4a;
	border-width: 10px;
	pointer-events: none;
	content: " ";
}

span:hover+p.showDetail {
	display: block;
}

.isShowDetail{
	display:block;
	padding:8px;
	background:#ad8e4a;
	font-size:16px;
	color:white;
	font-weight: bold;
    border-radius: 20px;

}

submit, button {
	background: #ad8e4a;
	color: white;
	border:none;
	border-radius: 2px;
	font-weight:bold;
	padding:2px ;
}

tr td form,button{
	padding:4px;
	display:inline;
}


submit:hover, button:hover {
	background-color: #a26d1d;
	color: #eeeeee;
}

.submitButton {
    background: #ad8e4a;
    color: white;
    border-radius: 10px;
    font-weight: bold;
    font-size: 18px;
    padding: 4px 8px;
    border: none;
    margin: 0px;
}

h1{
margin: 10px;
}

.showEveryTodo {
	border-collapse: collapse;
	border:none;
	margin:10px;
	margin-right: auto;
    margin-left: auto;
}

.showEveryTodo th {
	/* １番上の線 */
	/* #A28C63っていうのが色の名前なので、ここをお好みで */
	border-top: 1px solid #A28C63;
	padding:12px;
}

.showEveryTodo th, .showEveryTodo td {
	padding: 6px 6px;
	text-align: center;
	/* ２番目以降の線 */
	border-bottom: 1px solid #A28C63;
	border-width: 1px 0px; /* 上下だけ引く */
}

.showEveryTodo td {
	font-size:14px;
}

/* 上段の背景色 */
.showEveryTodo th {
	background: #e0fbaa;
	font-weight: normal;
}

.showEveryTodo .title{
	min-width:25%;
}

.buttons{
	min-width: 90px;
}